<main id="main-section">
<h1>Travel Stories</h1>
<%= link_to "Learn More", about_path %>
</main>
<section id="supporting-section">
<h2>The Latest from our friend on the road</h2>
</section>
<section id="secondary-section">
</section>
<section id="discover-section">
<h2>Discover more!</h2>
<%= link_to "Learn More", about_path %>
</section>
<footer>
Website created by Benny Mattis to specifications from Codecademy
</footer>